<html>
  <head>
    <title>Verify Email</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 1.6;
            color: #666;
            background-color: #f4f4f4;
            padding: 5px;
        }

        a {
            color: #999;
            padding: 15px;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #999;
        }
    </style>
  </head>
  <body>
    <div>
      <a href="{{verificationUrl}}">Verify Email</a>
    </div>
  </body>
</html>