.sidebar {
  height: 100%;
  width: 100%;
  max-width: min(20rem, 20%);
  max-height: calc(100dvh - 4rem);
  z-index: 1;
  position: sticky;
  top: 0;
}

h2.title {
  margin: 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--color-text);
}

.categories {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.categories li {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-transform: capitalize;
  -webkit-user-select: none;
  user-select: none;
}

.categories li:hover {
  background-color: hsla(var(--color-white-hsl-values), 0.05);
}

.categories li.active {
  background-color: hsla(var(--color-white-hsl-values), 0.1);
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    height: unset;
    overflow-y: unset;
    position: relative;
  }

  .sidebar *::-webkit-scrollbar {
    display: none;
  }

  .categories {
    padding: 0 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
  }

  .categories li {
    padding: 0.4rem 1.2rem;
    max-width: fit-content;
    max-width: -moz-fit-content;
  }

  .categories li.active {
    background-color: var(--color-secondary-500);
  }

  h2.title {
    display: none;
  }
}
