.wrapper {
  background-color: var(--color-navbar-admin);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper .navbar {
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
}

.navlinks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  display: none; /* Hide the navlinks in top navbar, only visible in drawer */
}

.navlinks .navlink {
  display: flex;
  align-items: center;
  color: var(--color-text-admin);
}

.navlinks .navlink {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  color: var(--color-text-admin);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navlinks .navlink:hover {
  color: var(--color-secondary-500);
}

.navlinks .navlink.active {
  font-weight: 500;
  color: var(--color-secondary-500);
}

.navlinks .navlink.active svg {
  fill: var(--color-secondary-500);
}

.right button.login {
  background-color: var(--color-primary-500);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.right button.login:hover {
  background-color: hsla(var(--color-primary-500-hsl-values), 0.9);
}

.right span {
  color: var(--color-primary-500);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.right a {
  text-transform: capitalize;
  text-decoration: none;
}

.right span:hover {
  background-color: var(--color-background-dark-admin);
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.hamburger {
  margin-right: 1rem;
  cursor: pointer;
}

.hamburger .line {
  width: 1.3rem;
  height: 2px;
  background-color: var(--color-text-admin);
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.hamburger .line:first-child {
  margin-bottom: 0.25rem;
}

.hamburger .line:last-child {
  margin-top: 0.25rem;
}

.hamburger:hover .line {
  background-color: var(--color-secondary-500);
}

.hamburger.open .line:first-child {
  transform: rotate(45deg) translate(0.25rem, 0.25rem);
}

.hamburger.open .line:last-child {
  transform: rotate(-45deg) translate(0.25rem, -0.3rem);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.drawer {
  position: fixed;
  top: 3.5rem;
  right: 0;
  height: calc(100dvh - 3.5rem);
  width: 100%;
  background-color: var(--color-navbar-drawer-admin);
  color: var(--color-text-admin);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.drawer.open {
  transform: translateX(0);
}

.drawer .navlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.drawer .navlinks .icon svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-text-admin);
}

.drawer .navlinks .navlink {
  color: var(--color-text-admin);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.drawer .navlinks .navlink.active {
  font-weight: 500;
  color: var(--color-secondary-500);
}

.drawer .navlinks .navlink.active svg {
  fill: var(--color-secondary-500);
}
