.container {
  margin-right: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--color-primary);
  position: relative;
}

.container:hover {
  background-color: var(--color-primary-500);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-primary-500);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 500;
}