.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 1rem;
}

.table .row th,
.table .row td {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--color-gray-300);
  text-align: left;
}

.table .row th {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.table .row:last-child td {
  border-bottom: none;
}

.table .row:nth-child(even) {
  background-color: var(--color-gray-100);
}

.table tbody .row:hover {
  background-color: var(--color-gray-200);
}

.table .row:hover td {
  background-color: transparent;
}

.table .row td {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table .row.highlighted td {
  background-color: hsla(var(--color-primary-500-hsl-values), 0.1);
}

.table tr.header td {
  border-bottom: none;
  padding: 1rem 0.5rem;
  padding-top: 0.5rem;
}

.table tr.header td div {
  display: flex;
  justify-content: space-between;
}

.table tr.header td div .title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-admin);
}

.table tr.header td div .actions {
  display: flex;
  gap: 1rem;
}

.actions .pageLimitInput {
  width: 5rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-gray-300);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-text-admin);
}

.actions .searchInput {
  width: 10rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-gray-300);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-text-admin);
}

.actions input:focus {
  outline: 1px solid var(--color-gray-500);
  border-color: var(--color-gray-500);
}

.table tr.footer td {
  border-top: 1px solid var(--color-gray-300);
  padding: 1rem 0.5rem;
  padding-bottom: 0;
}

.table tr.footer td span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-text-light-admin);
}

.table tr.footer td button {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--color-gray-100);
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.table tr.footer td button:hover {
  background-color: var(--color-gray-200);
}
.table tr.footer td button:disabled {
  color: var(--color-text-light-admin);
  cursor: not-allowed;
}

.table tr.footer td > * {
  margin-right: 1rem;
}

.table tr.empty td {
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-light-admin);
}

@media screen and (max-width: 400px) {
  .actions .pageLimitInput {
    display: none;
  }

  .actions .searchInput {
    width: 100%;
  }
}
