.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid hsl(var(--color-white-hsl-values), 0.1);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border-radius: 1.2rem;
  padding: 2.4rem;
  gap: 3rem;
  margin: auto;
  z-index: 1;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
}

.form form .formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.form form .formGroup label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-white);
}

.form form .formGroup input {
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: hsl(var(--color-white-hsl-values), 0.05);
  border: 1px solid hsl(var(--color-white-hsl-values), 0.1);
  color: var(--color-white);
}

.form form .formGroup input:focus {
  outline: 1px solid hsl(var(--color-white-hsl-values), 0.5);
  border: 1px solid hsl(var(--color-white-hsl-values), 0.5);
}

.form form .formGroup input::placeholder {
  color: hsl(var(--color-white-hsl-values), 0.3);
  font-weight: 400;
}

.form form .formGroup .radioGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.form form .formGroup .radioGroup .radio {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  accent-color: var(--color-primary-500);
}

.form form .formGroup .radioGroup .radio label {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-white);
}

.form form .formGroup .forgotPassword {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: hsla(var(--color-white-hsl-values), 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
}

.form form .formGroup .forgotPassword:hover {
  text-decoration: underline;
}

.form form .error {
  color: var(--color-error-500);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03rem;
}

.form form .loading {
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03rem;
}

.form form .message {
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03rem;
}

.form form .actions {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form form button.primary {
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background: linear-gradient(
    150deg,
    var(--color-primary-500) 0%,
    var(--color-secondary-500) 100%
  );
  border: none;
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.form form button.primary:hover {
  animation: wobble 0.5s ease-in-out;
}

.form form button.secondary {
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: hsl(var(--color-white-hsl-values), 0.05);
  border: 1px solid hsl(var(--color-white-hsl-values), 0.1);
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.form form button.secondary:hover {
  animation: wobble 0.5s ease-in-out;
}

.form form .info {
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.form form .info a {
  color: var(--color-primary-500);
  font-weight: 500;
  text-decoration: none;
}

.form form .info a:hover {
  text-decoration: underline;
}

.form .progress {
  margin: -1rem 0;
  width: 100%;
}

@keyframes wobble {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.96);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 480px) {
  .form {
    padding: 1.2rem;
    border: none;
    border-radius: 0;
    max-width: 100%;
    height: 100%;
  }
}
