.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.back {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.image {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  view-transition-name: var(--hero-image-transition-name);
}

.image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  object-fit: cover;
}

.image .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.6) 50%
  );
  z-index: 1;
}

.image .info .name {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-text);
  margin: 0;
  view-transition-name: var(--hero-title-transition-name);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2.heading {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--color-text);
  font-family: sans-serif;
  margin: 0;
  margin-top: 1rem;
}

p.text {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.03rem;
  color: var(--color-text-light);
  line-height: 1.6;
  margin: 0;
  white-space: pre-line;
}

p.text span {
  color: var(--color-text);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags .tag {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--color-text-light);
  background-color: hsla(var(--color-white-hsl-values), 0.1);
  cursor: pointer;
  text-transform: uppercase;
}

.other {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
}

.other .item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.other .item .key {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  color: var(--color-text-light);
  margin: 0;
}

.other .item.price .value {
  font-weight: 600;
  color: var(--color-secondary-500);
}

.other .item .value {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.03rem;
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

.actions {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.note {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.03rem;
  color: var(--color-text-light);
  line-height: 1.6;
  margin: 0;
}

.note a {
  color: var(--color-secondary-500);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .back {
    display: none;
  }

  .image img {
    aspect-ratio: 1 / 1;
    max-height: 400px;
  }

  .image .info .name {
    font-size: 2rem;
  }

  .actions {
    position: sticky;
    bottom: 0;
    padding-bottom: 1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
